#blue {
    color: blue;
    background-color: cyan;
    font-size: 10px;
}

#red {
    color: blue;
    background-color: burlywood;
    font-size: 25px;
}
#green {
    color: blue;
    background-color: coral;
    font-size: 25px;
}